.App {
  
}

.App-logo {
  height: 15vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#todolist {
  background-image: url(./background.png);
  background-repeat: repeat-y;
  min-width: 100vh;
 color: black; 
 height: auto;
}

li {
 font-family: 'Segoe Script';
  margin-top: -4vh;
  margin-left: 2vh;
  line-height: -10px;
}
